@font-face {
	font-family: gtRegular;
	src: url(static/fonts/AvenirNextLTPro-Regular.otf)
}

@font-face {
	font-family: AvenirBold;
	src: url(static/fonts/AvenirNextLTPro-Bold.otf)
}

@font-face {
	font-family: gtBlack;
	src: url(static/fonts/GTWalsheimPro-Black.ttf);
}

@font-face {
	font-family: gtBold;
	src: url(static/fonts/GTWalsheimPro-Bold.ttf);
}

@font-face {
	font-family: gtLight;
	src: url(static/fonts/GTWalsheimPro-Light.ttf);
}

@font-face {
	font-family: gtMedium;
	src: url(static/fonts/GTWalsheimPro-Medium.ttf);
}

@font-face {
	font-family: gtRegular;
	src: url(static/fonts/GTWalsheimPro-Regular.ttf);
}

@font-face {
	font-family: gtThin;
	src: url(static/fonts/GTWalsheimPro-Thin.ttf);
}

@font-face {
	font-family: gtUltraBold;
	src: url(static/fonts/GTWalsheimPro-UltraBold.ttf);
}

@font-face {
	font-family: gtUltraLight;
	src: url(static/fonts/GTWalsheimPro-UltraLight.ttf);
}

::selection {
	background: lightcyan
}

::-moz-selection {
	background: lightcyan
}

html {
	scroll-behavior: smooth;
}

img {
	border-style: solid;
	border-color: #f5f5f5;
	border-radius: 4px
}

p {
	font-size: 20px
}

h2 {
	font-weight: 700
}

h3 {
	font-size: 25px
}

.projectQuickLink {
	height: 100px;
	width: 100px;
}

.scrollDownIndicator {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 10px;
	color: black;
	margin-top: 30px;
}

.scrollDownIndicatorInner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	color: black;
}

@keyframes float {
	0% {
		transform: translatey(0)
	}
	50% {
		transform: translatey(-20px)
	}
	100% {
		transform: translatey(0)
	}
}

@keyframes fadeInUp {
	to {
		transform: translate3d(0, 0, 0);
		opacity: 1
	}
}

@-webkit-keyframes fadeInUp {
	to {
		transform: translate3d(0, 0, 0);
		opacity: 1
	}
}

.animated {
	animation-duration: 2s;
	animation-fill-mode: both;
	-webkit-animation-duration: 2s;
	-webkit-animation-fill-mode: both
}

.animatedFadeInUp {
	opacity: 0
}

.fadeInUp {
	opacity: 0;
	animation-name: fadeInUp;
	-webkit-animation-name: fadeInUp
}

.aboutMeInfo {
	display: flex;
	align-items: center;
}

.newReadsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.aboutMeContainer {
	margin-top: 80px;
	padding-left: 6em;
	padding-right: 6em;
}

.content {
	padding-left: 6em;
	padding-right: 6em;
}

.myName {
	padding-top: 35px;
	font-family: gtRegular;
	font-weight: 700;
	color: #6138FF;
}

.builtUsingTag {
	padding: 5px;
	padding-top: 8px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 3px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
}

.projectDescription {
	font-family: gtRegular;
	width: 100%
}

.curvedImageCorners {
	border-radius: 10px
}

a {
	color: #0099FF;
	text-decoration: underline;
	text-underline-position: under
}

a:hover {
	color: #007fd4;
	text-decoration: underline!important;
	text-underline-position: under
}

.toolbarContainer {
	position: fixed;
	right: 0;
	height: 100vh;
	padding: 20px;
	display: flex;
	align-items: flex-start;
	justify-content: center
}

.item {
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: center;
	padding: 10px;
	background-color: black
}

.divider {
	width: 100%;
	height: 2px;
	margin-top: 20px;
	background-color: lightgray
}

.logoProject {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	margin-left: 10px;
	height: 100px;
	width: 100px;
	border-radius: 50px;
	border-style: solid;
	border-width: 2px;
	border-color: #f5f5f5;
	transition: all .3s cubic-bezier(.25, .8, .25, 1)
}

.pfp {
	height: 100px;
	width: 100px;
	border-radius: 500px;
	border-width: 1px!important;
	margin-bottom: 0px;
	margin-top: 35px
}

.projectImageSmall {
	height: 60px;
	width: 60px;
	border-radius: 30px
}

.title-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap
}

.projectImageSmallReducedPadding {
	height: 80px;
	width: 80px;
	border-radius: 40px
}

.projectLine {
	display: flex;
	justify-content: center;
	align-items: center
}

.profile {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	margin-left: 10px;
	height: 250px;
	width: 250px;
	transition: all .3s cubic-bezier(.25, .8, .25, 1)
}

.carousel-inner-container {
	text-align: center
}

.carousel-indicators-container {
	margin-bottom: 60px;
	height: 2px
}

.carouselCaptionTitle {
	font-size: 17px
}

.carouselCaptionText {
	margin-top: -18px;
	font-size: 12px
}

.logoDiv {
	padding-top: 40px
}

.footer {
	padding-top: 20px;
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 2px solid black
}

.footerText {
	color: black;
	font-size: 18px;
	padding: 20px;
	margin-bottom: 15px;
	text-align: center;
	font-family: gtRegular
}

.alignCenter {
	display: flex;
	justify-content: center;
	align-items: center
}

.col-md-6-aboutme {
	width: 50%;
}

.col-md-6-newreads {
	width: 50%;
}

.newreadsIFrameContainer {
	border: 1px solid lightgray;
}

@media only screen and (max-width:1200px) {
	.col-md-6-aboutme {
		width: 100%;
	}
	.col-md-6-newreads {
		width: 100%;
	}
	.AboutMePhotoContainer {
		display: none
	}
}

@media only screen and (max-width:992px) {
	.aboutMeContainer {
		margin-top: 20px;
		padding-left: 3em;
		padding-right: 3em;
	}
	.content {
		padding-left: 3em;
		padding-right: 3em;
	}
}

@media only screen and (max-width:645px) {
	.aboutMeContainer {
		margin-top: 0px;
		padding-left: 1em;
		padding-right: 1em;
	}
	.content {
		padding-left: 1em;
		padding-right: 1em;
	}
	p {
		font-size: 18px
	}
	.project {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 8px;
		margin-left: 8px;
		background-color: #fff;
		height: 90px;
		width: 90px;
		border-radius: 50px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
		transition: all .3s cubic-bezier(.25, .8, .25, 1)
	}
	.toolbarContainer {
		position: fixed;
		right: 0;
		height: 100vh;
		padding: 20px;
		display: flex;
		align-items: start;
		justify-content: center;
		z-index: 20
	}
	.pushToTop {
		align-items: flex-start!important;
		height: 100px
	}
	.footerText {
		color: black;
		font-size: 18px;
		padding: 20px;
		margin-bottom: 20px;
		text-align: center;
		font-family: gtRegular
	}
}

html {
	box-sizing: border-box
}

*,
:after,
:before {
	box-sizing: inherit
}

a:hover {
	text-decoration: none
}

.pushToTop {
	align-items: flex-start!important;
	height: 100px
}

[data-tooltip] {
	position: relative;
	cursor: pointer
}

[data-tooltip]:after,
[data-tooltip]:before {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, -webkit-transform .2s cubic-bezier(.71, 1.7, .77, 1.24);
	-moz-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, -moz-transform .2s cubic-bezier(.71, 1.7, .77, 1.24);
	transition: opacity .2s ease-in-out, visibility .2s ease-in-out, transform .2s cubic-bezier(.71, 1.7, .77, 1.24);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	pointer-events: none
}

[data-tooltip]:focus:after,
[data-tooltip]:focus:before,
[data-tooltip]:hover:after,
[data-tooltip]:hover:before {
	visibility: visible;
	opacity: 1
}

[data-tooltip]:after {
	z-index: 1000;
	padding: 8px;
	white-space: nowrap;
	background-color: #000;
	background-color: hsla(0, 0%, 20%, 1);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	content: attr(data-tooltip);
	font-size: 14px;
	line-height: 1.2
}

[data-tooltip]:after,
[data-tooltip]:before {
	bottom: 100%;
	left: 50%
}

[data-tooltip]:before {
	margin-left: -6px;
	margin-bottom: -12px;
	border-top-color: #000;
	border-top-color: hsla(0, 0%, 20%, .9)
}

[data-tooltip]:after {
	margin-left: -80px
}

[data-tooltip]:focus:after,
[data-tooltip]:focus:before,
[data-tooltip]:hover:after,
[data-tooltip]:hover:before {
	-webkit-transform: translateY(-12px);
	-moz-transform: translateY(-12px);
	transform: translateY(-12px)
}


.grid>*:hover, 
.grid>*>*:hover {
  flex-grow: 3;
}

.grid>*>*:hover {
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .2), 0 7px 10px 1px rgba(0, 0, 0, .14), 0 2px 16px 1px rgba(0, 0, 0, .12);
  z-index: 1;
  opacity: 1;
  font-size: 5rem;
}
.grid:hover>*:not(:hover) {
  flex-grow: 0;
  max-height: 0;
  overflow: hidden;
}
.grid>*:hover>*:not(:hover) {
  flex-grow: 0;
  flex-basis: 0;
  overflow: hidden;
}
.grid>*,
.grid>*>* {
  transition: all .6s cubic-bezier(0.5, 0, 0.3, 1);
}

.grid {
  flex-direction: column;
  min-height: 100px;
  box-sizing: border-box;
  margin-left: 4em;
  margin-right: 4em;
}

.grid,
.grid>* {
  display: flex;
  height: 20px;
}

.grid>* {
  flex-direction: row;
  margin: 0;
}

.grid>*,
.grid>*>* {
  flex-grow: 1;
}

.grid>*>* {
  margin: 0;
  z-index: 0;
  position: relative;
  background-color: #fff;
  outline: 1px solid #ddd;
  opacity: .95;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  font-size: 3rem;
  overflow: hidden;
  max-width: 100%;
  flex-basis: 100%;
  flex-grow: 0;
}