@font-face {
  font-family: AvenirRegular;
  src: url(./static/fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: AvenirBold;
  src: url(./static/fonts/AvenirNextLTPro-Bold.otf);
}

::selection {
  background: grey; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: grey; /* Gecko Browsers */
}

html {
  scroll-behavior: smooth;
  background-color:#202124;
}

img {
  filter: brightness(80%);
}

p {
  font-size: 20px;
}

h2 {
  font-weight: bold;
}

h3 {
  font-size: 25px;
}

.typeWriterText {
  color: #0aeecc;
}

.scrollDownIndicator {
  height: 10px;
  width: 100%;
  position: relative;
  bottom: 50px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  color: #35363a;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
/* Animation */

@keyframes fadeInUp {
    from {
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.aboutMeInfo{
  display: flex;
  align-items: center;
}

.aboutMeContainer {
  height: 100vh;
}

.AboutMePhotoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.myName {
  padding-top: 35px;
  font-family: "AvenirRegular";
  font-weight: bold;
}

.builtUsingTag {
  padding: 5px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  border-color: #979693;
}

.projectDescription {
  font-family: "AvenirRegular";
  width: 100%;
}

.noMarginPadding {
  padding: 0px!important;
  margin: 0px!important;
}

.screenshotContainerHelpingHandsLeft {
  border-right: 5px solid #202124;
}

.screenshotContainerHelpingHandsRight {
  border-left: 5px solid #202124;
}

.curvedImageCorners {
  border-radius: 10px;
}

.content {
  background-color: #202124;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10em;
  padding-right: 10em;
  color: #979693;
  text-decoration-color: red;
}

a {
  color: #B0AFAC;
  text-decoration: underline;
  text-underline-position: under;
}

a:hover {
  color: #0aeecc;
  text-decoration: underline!important;
  text-underline-position: under;
}

.toolbarContainer {
  position:fixed;
  right: 0px;
  height: 100vh;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.toolbar {
  background-color: #FFFFFF;
  border-radius: 4px;
  border-color: #35363a;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 65px;
}

.item {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #35363a;
}

.itemReducedPadding {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #35363a;
}

.rounded-custom {
  border-radius: 20px;
}

.initialsToolbar {
  font-size: 25px;
}

.toolbarDivider {
  width: 100%;
  height: 2px;
  background-color: #35363a;
}

.divider {
  width: 100%;
  height: 2px;
  margin-top: 20px;
  background-color: #35363a;
}

.initialsLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: #35363a;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.initials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.initialsText {
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;
  color: #35363a;
}

.logoProject {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #35363a;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: #35363a;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.screenshotContainer {
  border-style: solid;
  border-color: #202124;
  border-radius: 4px;
}

.projectImage {
  height: 90px;
  width: 89px;
  border-radius: 50px;
}

.projectImageSmall {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

.projectImageSmallReducedPadding {
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

.projectLine {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
  height: 250px;
  width: 250px;
  border-radius: 75px;
  border-style: dashed;
  border-width: 4px;
  border-color: #35363a;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.profileImage {
  height: 230px;
  width: 230px;
  border-radius: 70px;
}

.scioEventName {
  font-weight: 900;
  text-decoration: underline;
}

.carousel-inner-container {
  text-align: center;
}

.carousel-indicators-container {
  margin-bottom: 60px;
  height: 2px;
}

a.carousel-controls {
height: 10%;
top: 33%;
background-color: rgba(0, 0, 0, 1.0);
width: 40px;
//add your own CSS as you need
}

.carousel-caption-container {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  margin-bottom: -16px;
  padding: 10px;
}

.carouselCaptionTitle {
  font-size: 17px;
}

.carouselCaptionText {
  margin-top: -18px;
  font-size: 12px;
}

.logoDiv {
  padding-top: 40px;
}

.footer {
  padding-top: 20px;
  width: 100%;
  background-color: #202124;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #35363a;
}

.footerText {
  color: #979693;
  font-size: 18px;
  padding: 20px;
  margin-bottom: 15px;
  text-align: center;
  font-family: "AvenirRegular";
}

.alignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .AboutMePhotoContainer {
    display: none;
  }
  .scrollDownIndicator {
    display: none;
  }
  .aboutMeContainer {
    height: auto;
    margin-top: 50px;
  }
}


@media only screen and (max-width: 645px) {
  p {
    font-size: 18px;
  }
  .project {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    margin-left: 8px;
    background-color: #FFFFFF;
    height: 90px;
    width: 90px;
    border-radius: 50px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .content {
    background-color: #202124;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    color: #979693;
  }
  .toolbarContainer {
    position:fixed;
    right: 0px;
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
    z-index: 20;
  }
  .pushToTop {
    align-items: flex-start!important;
    height: 100px;
  }
  .footerText {
    color: #979693;
    font-size: 18px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "AvenirRegular";
  }
}

/**
 * Demo styles
 * Not needed for tooltips to work
 */

/* `border-box`... ALL THE THINGS! */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:hover {
  text-decoration: none;
}

header,
.demo,
.demo p {
  margin: 4em 0;
  text-align: center;
}

.pushToTop {
  align-items: flex-start!important;
  height: 100px;
}

/**
 * Tooltip Styles
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  white-space: nowrap;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 1.0);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px);
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px);
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px);
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px);
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}